# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sistema operacional
.DS_Store
Thumbs.db

# Ambiente (variáveis sensíveis)
.env

# Cache
.cache/
dist/
build/
tmp/
temp/

# Editor de código (VSCode, etc.)
.vscode/
.idea/

# Testes
coverage/

# Outros arquivos gerados
*.tgz
*.gz

# Sistema de lock
package-lock.json
yarn.lock
